<div class="row  d-flex justify-content-center">
    <div class="col-md-4 col-lg-4 col-xs-6" style="margin-top:20%" >
        <h1 class="text-center">Inicio de sesión</h1>
        <form action="" class="mt-3" [formGroup]="form" novalidate>
            <div class="mb-3">
                <label for="usuario" class="form-label" style="font-weight: 600;"><span style="color: red" *ngIf="in.usuario == ''">* </span>Usuario</label>
                <!-- <label style="color: red" *ngIf="form.get('usuario').hasError('required') && (form.get('usuario').dirty || form.get('usuario').touched)">Requerido</label> -->
                <label style="color: red" *ngIf='err.usuario != null && err.usuario != ""' >{{err.usuario}}</label> 
                <input type="text" class="form-control" id="usuario" formControlName="usuario" [(ngModel)]="in.usuario">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="font-weight: 600;"><span style="color: red" *ngIf="in.password == ''">* </span>Password</label>
                <label style="color: red" *ngIf='err.password != null && err.password != ""' >{{err.password}}</label> 
                <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="in.password">
            </div>
            <div>
                <div class="row" style="justify-content: center; display: flex;">
                    <button [disabled]="form.invalid" class="btn" style="width: 40%; background-color: #0085FC; color:white" (click)="submit()">Ingresar</button>
                </div>
                <div class="row mt-2" style="justify-content: center; display: flex;">
                    <button  class="btn" style="width: 40%; text-decoration: underline; font-weight: 600;" [routerLink]="['/cuenta']">Crear cuenta</button>
                </div>            
            </div>
        </form>
    </div>
</div>
