<div class="row justify-content-center">
    <div class="col-md-6" [ngStyle]="{marginTop:'20px'}"  *ngIf="!loading">
        <h3 class="text-center">Formulario de productos</h3>
        <form action="" class="mt-4"  [formGroup]="form" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label" style="font-weight: 600;"><span style="color: red" *ngIf="in.name == ''">* </span>Producto</label>
                <!-- <label style="color: red" *ngIf="form.get('name').hasError('required') && (form.get('name').dirty || form.get('name').touched)">Requerido</label> -->
                <label style="color: red" *ngIf='err.name != null && err.name != ""' >{{err.name}}</label> 
                <input type="text" class="form-control" id="name" formControlName="name" [(ngModel)]="in.name">
            </div>
            <div class="mb-3">
                <label for="reference" class="form-label" style="font-weight: 600;"> <span style="color: red" *ngIf="in.reference == ''">* </span>Referencia</label>
                <!-- <label style="color: red" *ngIf="form.get('reference').hasError('required') && (form.get('reference').dirty || form.get('reference').touched)">Requerido</label> -->
                <label style="color: red" *ngIf='err.reference != null && err.reference != ""' >{{err.reference}}</label> 
                <input type="text" class="form-control" id="reference" formControlName="reference" [(ngModel)]="in.reference">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label" style="font-weight: 600;"> <span style="color: red" *ngIf="in.category == ''">* </span>category</label>
                <!-- <label style="color: red" *ngIf="form.get('category').hasError('required') && (form.get('category').dirty || form.get('category').touched)">Requerido</label> -->
                <label style="color: red" *ngIf='err.category != null && err.category != ""' >{{err.category}}</label> 
                <input type="text" class="form-control" id="category" formControlName="category" [(ngModel)]="in.category">
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label" style="font-weight: 600;"> <span style="color: red" *ngIf="in.quantity == ''">* </span>Cantidad</label>
                <!-- <label style="color: red" *ngIf="form.get('quantity').hasError('required') && (form.get('quantity').dirty || form.get('quantity').touched)">Requerido</label> -->
                <label style="color: red" *ngIf='err.quantity != null && err.quantity != ""' >{{err.quantity}}</label> 
                <input type="text" class="form-control" id="quantity" formControlName="quantity" [(ngModel)]="in.quantity" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode ==75 || event.charCode ==107)">
            </div>
            <div class="mb-3">
                <img src="/assets/image.png" *ngIf="in.image==''" id="imagen-blob"  class="card-img-top img-fluid" alt="..." [ngStyle]="{width:'200px',height:'150px'}">
                <img [src]="urlImage+'api/product/uploads/img/'+in.image" id="imagen-blob"  *ngIf="in.image!=''" class="card-img-top img-fluid" alt="..." [ngStyle]="{width:'200px',height:'150px'}" />    
            </div>
            <div class="mb-3">
                <label for="image" class="form-label" style="font-weight: 600;"><span style="color: red" *ngIf="in.image == ''">* </span>Foto</label>
                  <!-- <label style="color: red" *ngIf="form.get('image').hasError('required') && (form.get('image').dirty || form.get('image').touched)">Requerido</label> -->
                  <label style="color: red" *ngIf='err.image != null && err.image != ""' >{{err.image}}</label> 
                <input accept="image/jpeg, image/png" type="file" id="file1" (change)='makeToFiles($event)' />
            </div>
            <div>
                <div class="row mt-4" style="justify-content: center; display: flex;">
                    <button [disabled]="form.invalid" class="btn" style="width: 50%; background-color: #0085FC; color:white; font-weight: 600;"  (click)="submit()">Guardar</button>
                </div>            
            </div>
        </form>
    </div>
</div>
