<div class="row mt-2" style="background-color: #CCE7FE;">
    <div class="col-md m-3">
        <span style="color: #0088CE; font-weight: 600;">Ecommerce </span> &nbsp;&nbsp;
        <span style="color: #0088CE; font-weight: 600;">Admin</span>  &nbsp;&nbsp;
        <button class="btn" style="border-radius: 15px; background-color: white; color: black;font-weight: 600;" >Jhon Alexander </button>
    </div>
    <div class="col-md m-3">
        <button class="btn" style="border-radius: 15px; background-color: white; color: black;font-weight: 600; width: 40%;" [routerLink]="['/usuarios']">Usuarios</button> &nbsp;&nbsp;
        <button class="btn" style="border-radius: 15px; background-color: white; color: black;font-weight: 600;  width: 40%;" [routerLink]="['/productos']">Productos</button>
    </div>
    <div class="col-md m-3" style="justify-content: end; align-items: end; display: flex;">
        <button class="btn btn-outline-primary"  [routerLink]="['/login']">Logout</button>
    </div>
</div>


<div class="row mt-5"style="justify-content: start; display: flex; background-color: #0085FC; 
 width: 10%;">
    <button class="btn"><span style="text-justify:center; color:white;font-weight: 600;" [routerLink]="['/productoscrear']">Nuevo</span></button>
</div>

<div class="row mt-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Referencia</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Producto 1</td>
            <td>referencia 1</td>
            <td>categoria 1</td>
            <td>20</td>
            <td><button class="btn" style="background-color: #33A64C; color:white; font-weight: 600; width: 30%;"  [routerLink]="['/productoscrear']">Editar</button> &nbsp; &nbsp; 
            <button class="btn" style="background-color: #DB2843; color:white; font-weight: 600; width: 30%;">Eliminar</button></td>            
          </tr>
          <tr>
            <td>Producto 2</td>
            <td>referencia 2</td>
            <td>categoria 2</td>
            <td>20</td>
             <td><button class="btn" style="background-color: #33A64C; color:white; font-weight: 600; width: 30%;"  [routerLink]="['/productoscrear']">Editar</button> &nbsp; &nbsp; 
            <button class="btn" style="background-color: #DB2843; color:white; font-weight: 600; width: 30%;">Eliminar</button></td>         
          </tr>
          <tr>
            <td>Producto 3</td>
            <td>referencia 3</td>
            <td>categoria 3</td>
            <td>20</td>
             <td><button class="btn" style="background-color: #33A64C; color:white; font-weight: 600; width: 30%;"  [routerLink]="['/productoscrear']">Editar</button> &nbsp; &nbsp; 
            <button class="btn" style="background-color: #DB2843; color:white; font-weight: 600; width: 30%;">Eliminar</button></td>         
          </tr>
          <tr>
            <td>Producto 4</td>
            <td>referencia 4</td>
            <td>categoria 4</td>
            <td>20</td>
             <td><button class="btn" style="background-color: #33A64C; color:white; font-weight: 600; width: 30%;" [routerLink]="['/productoscrear']">Editar</button> &nbsp; &nbsp; 
            <button class="btn" style="background-color: #DB2843; color:white; font-weight: 600; width: 30%;">Eliminar</button></td>         
          </tr>          
        </tbody>
    </table>
</div>

