

<div class="row mt-5"style="justify-content: start; display: flex; background-color: #0085FC; 
 width: 10%;">
    <button class="btn"><span style="text-justify:center; color:white;font-weight: 600;" [routerLink]="['/admin/productoscrear/0']">Nuevo</span></button>
</div>

<div class="row" *ngIf="!loading">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Referencia</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of list; let i = index">
            <td>{{l.name}}</td>
            <td>{{l.reference}}</td>
            <td>{{l.category}}</td>
            <td>{{l.quantity}}</td>
            <td><button class="btn" style="background-color: #33A64C; color:white; font-weight: 600; width: 30%;"  [routerLink]="['/admin/productoscrear/'+l.id]">Editar</button> &nbsp; &nbsp; 
            <button class="btn" style="background-color: #DB2843; color:white; font-weight: 600; width: 30%;" (click)="deleteProduct(l,i)">Eliminar</button></td>            
          </tr>       
        </tbody>
    </table>
</div>

