
<div class="row mt-5"></div>

<div class="row justify-content-center">
  <div class="col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
          <th scope="col">Activo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list; let i = index">
          <td>{{l.username}}</td>
          <td>{{l.email}}</td>
          <td><span *ngIf="l.status==1">SI</span><span *ngIf="l.status==0">NO</span></td>
          <td><button class="btn btn-danger"  (click)="deleteUser(l,i)">Eliminar</button></td>            
          <td><button class="btn btn-warning"  (click)="statusUser(l,i)">Desactivar</button></td>            
        </tr>
      </tbody>
    </table>
  </div>
</div>

