
<div class="row mt-5"></div>

<div class="row justify-content-center">
  <div class="col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of list; let i = index">
          <td>{{l.username}}</td>
          <td>{{l.email}}</td>
          <td><button class="btn" style="background-color: #DB2843; color:white; font-weight: 600; width: 30%;" (click)="deleteUser(l,i)">Eliminar</button></td>            
        </tr>
      </tbody>
    </table>
  </div>
</div>

